
// @font-face {
// 	font-family: 'Bauhaus_Medium';
// 	src: url( $assets + 'fonts/BauhausW01-Medium.eot?#iefix') format('embedded-opentype'),  url( $assets + 'fonts/BauhausW01-Medium.woff') format('woff'), url( $assets + 'fonts/BauhausW01-Medium.ttf')  format('truetype'), url( $assets + 'fonts/BauhausW01-Medium.svg#BauhausW01-Medium') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }


