/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	//user-select: none;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
	cursor: default;
}

body {
	// text-rendering: optimizeLegibility;
	// -webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	// -moz-osx-font-smoothing: grayscale;
	@include font-size(1.6);
	font-family: 'GothamLight';
	line-height: 30px;
	font-weight: 300;
	color: $copy;
	cursor: default;
	background: #ffffff;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

//font-family: 'Alfa Slab One', cursive;


a, button {
	cursor: pointer;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

strong {
	font-weight: bold;
}

.clear {
	clear: both;
	overflow: hidden;
	display: block;
}

.wrapper {
	// max-width: 1640px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: 1260px;
	clear: both;
	overflow: hidden;
	position: relative;
}

.container--1020 {
	max-width: 1020px;
}

.grey-bg {
	background: $grey-light;
}

.container--small {
	max-width: 900px;
}

.main {
	margin-top: 147px;
	opacity: 1;
	transform: translate3d(0, 40px, 0);
	transition: all 600ms ease-out;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.ready .main {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}


.text-center {
	text-align: center;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.padding {
	padding: 80px 0 60px;
}
.padding-sml {
	padding: 80px 0 0px;
}

.content  {
	
	p {
		margin-bottom: 30px;
	}

	h1 {
		margin-bottom: 20px;
	}

	h2 {
		@include font-size(2.4);
		margin-bottom: 10px;

	}

	strong {
		font-family: 'GothamBold';
	}
 
	ul:not(.styled__ul),
	ol {
		text-align: left;
		margin-bottom: 30px;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;

		li {
			position: relative;
		}
	}

	ul:not(.styled__ul) li:before {
		content: '•';
		color: $green;
		position: absolute;
		left: -20px;
		font-size: 22px;
	}

	&.ul--left {
		ul:not(.styled__ul) {
			margin-left: 20px;
			max-width: 100%;
		}
	}

}

.content--dark {

	h2 {
		color: $copy-dark;
	}

}

.center-headings {

	h1, h2 {
		text-align: center;
	}

	h2 {
		color: $green;
		margin-bottom: 30px;
	}
}

.image {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}