

@media all and (min-width: 1020px){

	.no-touch .header__nav .menu-item:hover {

		background: $white;

		&+ .menu-item a:after {
			display: none;
		}

		a {
			color: $copy-dark;

			&:before,
			&:after {
				display: none;
			}
		}

		> .sub-menu {
			display: block;
			position: absolute;
			box-sizing: border-box;
			width: 100%;
			left: 10%;
			background: rgba(255, 255, 255, 0.9);
			padding: 50px 20px 20px;

			li {
				border-bottom: 1px solid #ccc;
				height: 50px;
				line-height: 50px;
				width: 280px;
				float: left;
				text-align: left;
				margin-right: 40px;
				padding-top: 4px;

				&:hover {
					background-color: transparent;
				}
			}

			a {
				color: $copy-dark;
				text-decoration: none;
				display: block;
				@include font-size(1.6);
				padding: 0;
				line-height: 50px;

				&:hover {
					color: $green;
				}
			}
		}
			
	}

	.touch a.menu-item--active {

		background: $white;

		&:before,
		&:after {
			display: none;
		}


		a {
			color: $copy-dark;

			&:before,
			&:after {
				display: none !important;
			}
		}


		& + .sub-menu {
			display: block;
			position: absolute;
			box-sizing: border-box;
			width: 90%;
			left: 10%;
			background: rgba(255, 255, 255, 0.9);
			padding: 50px 20px 20px;

			li {
				border-bottom: 1px solid #ccc;
				height: 50px;
				line-height: 50px;
				width: 280px;
				float: left;
				text-align: left;
				margin-right: 40px;
				padding-top: 4px;

				&:hover {
					background-color: transparent;
				}
			}

			a {
				color: $copy-dark;
				text-decoration: none;
				display: block;
				@include font-size(1.6);
				padding: 0;
				line-height: 50px;

				&:hover {
					color: $green;
				}

				&:before,
				&:after {
					display: none !important;
				}
			}
		}
	}
}

@media all and (max-width: 1300px){

	
	.container {
		margin: 0 20px;
	}

	.about__div--intro {
		margin: 0 auto;
	}

	.process__div {
		margin: 0 auto;
	}
	
	.header .container {
		margin: 0;
		padding: 0 20px;
	}

	.service__nav {
		left: auto;
		margin-left: 0;
		right: 20px;
	}

	.banner {
		clear: both;
		overflow: hidden;
	}

	.service__nav {
		left: auto;
		margin-left: auto;
		right: 0px;
		float: right;
		margin-right: 20px;
	}

}


@media all and (max-width: 1140px){

	.menu-item{

		a {
			padding: 17px 20px 40px;
		}

		&:last-child a {
			padding-right: 20px;
		}
	}

	.intro__div {
		margin: 50px auto 70px;
	}

	.tabs__a {
		margin: 0 10px 80px;
		min-width: 200px;
		@include font-size(1.8);
		border-bottom: 3px solid #c1c1c1;
		line-height: 60px;
	}

	.staff__ul {
		justify-content: center;
	}

	.staff__li {
		min-width: 400px;
		max-width: 400px;
	}

	.staff__div--img {
		min-width: 155px;
	}

	.quotations__div--left {
		flex: 6;
	}

	.about__div--intro {
		width: auto;
		margin: 0 20px;
	}

	.header--small .menu-item a {
		padding: 17px 24px 12px
	}

	.header--small .menu-item:last-child a {
		padding-right: 0px;
	}

}

@media all and (max-width: 1020px){

	.main {
		margin-top: 86px;
	}


	.header__menu-toggle  {
		display: block;
	}

	.phone-mobile {
		display: block;
		color: #c1c1c1;
    	font-size: 34px;
    	font-size: 3.4rem;
    	top: 50%;
    	right: 20px;
        -webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    	position: absolute;
    	margin-right: 50px;
	}

	.header--small {

		.header__img {
			display: block;
		}
		
		.header__a {
			width: auto;
			height: auto;
			background-image: none;
		}	

		.header__nav {
			position: absolute;
		}
	}

	.menu-primary-container {
		position: fixed;
		height: auto;
		max-height: calc(100vh - 86px);
		width: 100%;
		right: 0;
		overflow: scroll;
	}

	.header .container {
		height: 86px;
	}

	.header__a {
		margin: 10px 0 0;
	}

	.header__img {
		width: 148px; 
		height: auto;
	}

	//147

	.header__nav {
		display: none;
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 30;
		top: 100%;

		.nav {
			background-color: $grey-light;
		}

		.menu-item {
			float: none;
		}

		a {
			color: $copy-dark;
			display: block;
			padding: 22px;
			box-sizing: border-box;
			border-bottom: 1px solid $copy-light;

			&:before {
				display: none;
			}

			&:after {
				display: none;
			}

			&.menu-item--active {
				color: $green;
				background: $white;
			}
		}

		.menu-item-has-children {

			position: relative;

			&:before {
				font: $font-awesome;
				content: "\f054";
				position: absolute;
				top: 26px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 2px solid $green;
				color: $green;
				line-height: 22px;
				//text-align: center;
				text-align: left;
				text-indent: 7px;
				@include font-size(1.2);
				background-color: $grey-light;
				left: 20px;
				transform: rotate(90deg);
			}

		}
	}

	.menu-item:last-child a {
		padding-right: 22px;
	}

	.sub-menu {
		position: relative;

		a {
			background-color: $white;
		}
	}

}

@media all and (max-width: 960px){

	.banner__h2 {
		max-width: 500px;
		margin: 0 auto;
		padding: 0 20px;
	}

	.banner__ul {
		margin-top: 80px;
	}

	.banner--home {
		padding: 80px 0 50px;
	}

	.leaf-list__li {
		width: calc(50% - 66px);
	}

	.leaf-list__li--left {
		margin: 0 10px 0 50px;

		&:before {
			left: -44px;
		}
	}

	.leaf-list__li--right {
		margin: 0 10px 0 20px;

		&:before {
			right: -44px;
		}
	}

	.leaf-list__a {
		padding: 0 70px 0 20px;

		&:after {
			right: 0px;
		}
	}

	.services__ul {
		flex-wrap: wrap;
	}

	.services__li:first-child:before {
		display: none;
	}

	.services__li {
		min-width: 240px;
		padding: 20px 20px 100px;


		&:before,
		&:after {
			display: none;
		}
	}

	.services__a:after {
		bottom: 20px;
	}

	.services__div--background {
		min-height: 300px;
	}

	.quotations {

		text-align: center;

		.container {
			display: block;
		}

	}

	.quotations__div--left {
		border-right: none;
		padding-right: 0px;
		margin-bottom: 60px;
	}

	.quotations__div--right {
		flex: none;
		padding: 0;
		margin: 0 auto;
		max-width: 500px;
		text-align: center;

	}

	.quotations__img {
		display: inline-block;
	}

	.footer { 
		width: 100%;
	}

	.footer__div {
		min-width: 100px;
		margin: 0 40px;
	}

	.tabs__content {
		float: none;
		width: auto;
	}

	.tabs__content--left {
		margin-left: auto;
		margin-right: auto;
		max-width: 640px;
		padding: 0 20px;
	}

	.tabs__div--who-we-are.active {
		display: block;
	}

	.tabs__content--right {
		margin-left: auto;
		margin-right: auto;
		max-width: 640px;
		padding: 40px 20px;
		text-align: center;
	}

	.tabs__a--content {
		position: relative;
		bottom: auto;
		margin-top: 40px;
	}

	.breakout {
		min-height: 300px;
	}

	.about__div--grey {
		padding: 60px 0 60px;
	}

	.carousel__div {
		padding-bottom: 80px;
		text-align: center;
	}

	.carousel-control {
		// position: relative;
		// display: inline-block;
		// top: 20px;
		// right: auto;
		top: auto;
		bottom: -50px;


		&.left {
			//left: 50%;
			//transform: translateX(-100px);
		}

		&.right {
			//right: 50%;
			//transform: translateX(100px);
		}
	}

	.banner--height {
		min-height: 300px;
	}

	.form-right span.wpcf7-list-item {
		float: none;
		width: 100%;
	}

	.form-left,
	.form-right {
		width: 50%;
		box-sizing: border-box;
		margin: 0;
	}

	.header__nav {
		top: 141px;
	}

	.menu-primary-container {
		height: calc(100vh - 140px);
	}

	.ready .side-menu {
		top: 86px;
		transform: translateY(0);
		width: 100%;
		z-index: -100;
		opacity: 0;
	}

	.ready.menu-active .side-menu {
		opacity: 1;
		z-index: 20;
		transition: opacity 600ms ease;
	}

	.side-menu__ul {
		clear: both;
		overflow: hidden;
	}

	.side-menu__li {
		width: 50%;
		float: left;
		display: block;
		position: relative;

		&:first-child:before {
			content: '';
			position: absolute;
			width: 1px;
			height: 100%;
			top: 0;
			right: 0;
			background: $white;
			z-index: 30;
		}
	}

	.side-menu__a {
		height: 55px;
	}

	.side-menu__a--contact:before {
		display: none;
	}

	.side-menu__a {
		width: 100%;
	}

}

@media all and (max-width: 750px){

	.desktop-br {
		display: none !important;
	}

	.home .banner:before {
		background: rgba(0, 0, 0, 0.2);
	}

	.banner--home {
		padding: 40px 20px;
	}

	.banner__h1 {
		@include font-size(4);
		line-height: 46px;
		margin-bottom: 20px;
	}

	.banner__h2 {
		@include font-size(2.4);
		padding: 0;
	}

	.banner__ul {
		display: block;
		display: none;
		margin: 20px auto 0;
		padding: 10px;
		box-sizing: border-box;
		max-width: 300px;
	}

	.banner__li {
		width: 100%;
		text-align: left;
		box-sizing: border-box;
		background-position: 10px center;
		padding: 10px 20px 10px 54px;

		&:first-child {
			border-right: 0px;
		}
	}

	.banner__li--quote {
		background-size: 30px auto;
	}

	.banner__li--call {
		background-size: 24px auto;
	}

	.about__tabs {
		padding-top: 60px;
	}

	.tabs__ul {
		//display: none;
		margin-bottom: 60px;
		margin-left: 20px;
		margin-right: 20px;
		position: relative;
		display: block;
	}

	.tabs__li {
		display: block;
		position: relative;
	}

	.tabs__a {
		padding-bottom: 0;
		margin-bottom: 0;
		min-width: 400px;
	}

	.tabs__div {
		//display: block;
	}

	.banner__a {
		padding: 0px;
	}

	.leaf-list__ul {
		display: block;
		margin-bottom: 40px;
	}

	.leaf-list__li {
		border-bottom: none;
		border-top: none;
		max-width: 400px;
		float: none;
	}

	.leaf-list__li:nth-child(1), 
	.leaf-list__li:nth-child(2) {
		border-top: none;
	}

	.leaf-list__li--left,
	.leaf-list__li--right {
		margin: 0 auto;
		width: auto;
		display: block;
	}

	.leaf-list__li--right:before {
		right: auto;
		left: -44px;
	}

	.intro__div {
		margin: 50px auto 30px;
	}

	.services {
		padding: 40px 0 0;
	}

	.process {
		margin-bottom: 0px;
	}

	.process__div {
		padding: 40px 0 40px;
		margin: 0 20px;
	}

	.process__ul {
		display: block;
	}

	.process__li {
		padding-bottom: 80px;

		&:after {
			right: 50%;
			transform: translateX(5px) rotate(90deg);
			top: auto;
			bottom: 26px;
		}

	}

	.footer__div {
		margin: 0 20px;
	}

	.carousel-inner .item ul {
		display: block;
	}

	.carousel-inner .item li:nth-child(odd),
	.carousel-inner .item li:nth-child(even) {
		width: auto;
		display: block;
		text-align: center;
		margin: 0 0 10px;
	}

	.carousel-inner .item li:nth-child(1), .carousel-inner .item li:nth-child(2) {
		border-top: none;
	}

	.carousel__div {
		padding-bottom: 120px;
	}

	.carousel-control {
		bottom: -54px;
	}

	.carousel__div {
		margin: 0;
	}

	.imagery__div {
		min-height: 300px;
	}

	.zebra {
		display: block;
		margin: 0;
	}

	.zebra__li{
		display: block;
		box-sizing: border-box;
		width: 100%;
	}

	.zebra__li:nth-child(1), .zebra__li:nth-child(4), .zebra__li:nth-child(5), .zebra__li:nth-child(8) {
		background: $white;
		color: $copy;
	}

	.zebra__li:nth-child(odd){
		background: $copy-dark;
		color: $white;
	}

	.form-left, .form-right {
		width: 100%;
	}

	div.wpcf7-response-output {
		width: 100%;
	}

	.contact {
		.padding {
			padding: 40px 0;
		}
	}

	.leaf-list__li:hover {
		background-color: transparent;
	}

	.banner--menu {
		min-height: 300px;
		overflow: visible;
		z-index: 20;
	}

	.services__ul {
		padding: 20px 0;
	}

	.service__nav {
		display: block;
		position: absolute;
		float: none;
		width: 100%;
		bottom: 0px;
		left: 0;
		right: 0;
		box-sizing: border-box;
		margin: 0;
		padding: 20px 0 10px;
		text-align: center;
	}

	.service__h1 {
		display: inline-block;
		position: relative;
		transform: translateX(-24px);
		
		&:before {
			font: $font-awesome;
			content: "\f054";
			position: absolute;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 2px solid $green;
			color: $green;
			line-height: 33px;
			//text-align: center;
			text-align: left;
			text-indent: 10px;
			@include font-size(1.8);
			top: -2px;
			right: -56px;
			transform: rotate(90deg);
			transition: transform 300ms ease-out;
		}
	}

	.service__ul {
		display: none;
		position: absolute;
		z-index: 20;
		background: $grey-light;
		width: 100%;
		top: 70px;
		
		.menu-item {
			border-bottom: 1px solid $copy-light;
			padding: 10px;

			a {
				color: $copy-dark;
			}
		}

	}

	.service__ul--active:before {
		transform: rotate(-90deg);
	}

}

@media all and (max-width: 520px){
	
	.leaf-list__a {
		padding-left: 0;
	}

	.leaf-list__li:before {
		display: none;
	}

	.button {
		padding: 0 20px;
		//@include font-size(1.8);

		&:after {
			display: none;
		}
	}
	.button-prev {
		padding: 0 20px;
		//@include font-size(1.8);

		&:before {
			display: none;
		}
	}
	.tabs__content--right,
	.tabs__content--left {
		padding-left: 0;
		padding-right: 0;
	}

	.services {
		padding: 30px 0 0;
	}

	.services__div--background,
	.breakout {
		min-height: 180px;
	}

	.footer__div--menu {
		display: block;
	}

	.footer__div {
		margin-bottom: 30px;
	}

	.footer__li {
		display: block;
	}

	.staff__ul {
		display: block;

		.flex {
			display: block;
		}
	}

	.staff__li {
		min-width: 280px;
		max-width: 280px;
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.staff__img {
		margin-bottom: 30px;
	}

	.staff__div {
		padding: 0;
	}

	div.wpcf7 {
		margin: 40px 20px;
	}

	.contact div.wpcf7 {
		margin: 40px 0;
	}

	.banner--height {
		min-height: 180px;
	}

	.button--circle {
		width: 40px;
		height: 40px;
		line-height: 42px;
		text-indent: 14px;
		font-size: 18px;
	}

	.tabs__a {
		min-width: 0px;
		width: 100%;
		display: block;
		margin-left: 0;
		margin-right: 0px;
	}

	.home .tabs__a,
	.tabs__ul--about .tabs__a {
		min-width: 0px;
		width: 100%;
		display: block;
		margin-left: 0px;
		margin-right: 0px;
	}

	.about__div--grey {
		.tabs__ul {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.imagery.flex {
		display: block;
	}

	.imagery__div {
		display: block;
		min-height: 180px;
	}

	.imagery__div:nth-child(2){
		margin-left: 0px;
		margin-top: 2px;
	}

	.services__ul {
		display: block;
		flex-wrap: none;
		box-sizing: border-box;
		max-width: 100%;
	}

	.tabs {
		display: block;
		box-sizing: border-box;
		max-width: 100%;

	}

	.staff__ul {
		display: block;
		box-sizing: border-box;
		justify-content: none;
		flex-wrap: none;
	}

}