%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin inline-block(){
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}

@mixin clear-floats(){
	clear: both;
	overflow: hidden;
}

@mixin headings($size: 1.6, $color: $grey){
	text-transform: uppercase;
	color: $color;
	@include font-size($size);
}

@mixin reset(){
	position: relative;
	@include inline-block();
	box-sizing: border-box;
	width: auto;
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: 0px transparent none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: none;
	user-select: auto;
	cursor: pointer;
}
