

@font-face {
	font-family: 'GothamLight';
	src: url($assets + 'fonts/GothamLight.eot?#iefix') format('embedded-opentype'),  url($assets + 'fonts/GothamLight.woff') format('woff'), url($assets + 'fonts/GothamLight.ttf')  format('truetype'), url($assets + 'fonts/GothamLight.svg#GothamLight') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'GothamBold';
	src: url($assets + 'fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url($assets + 'fonts/Gotham-Bold.otf')  format('opentype'),
	     url($assets + 'fonts/Gotham-Bold.woff') format('woff'), url($assets + 'fonts/Gotham-Bold.ttf')  format('truetype'), url($assets + 'fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: $font-alpha;
	color: $copy-dark;
	@include font-size(3.4);
	line-height: 1.1;
}

h2, h3 {
	font-family: 'GothamBold';
	line-height: 1.3;
}

.typography__h2 {
	@include font-size(2.4);
}

.typography__h2--dark {
	color: $copy-dark;
}

.typography__h2--green,
.typography__h2--a {
	color: $green;
}

.content .typography__h2--smaller {
	@include font-size(2);
}

.typography__h2--a {
	text-decoration: none;
}

.typography__h3--green {
	color: $green;
}

h2.alt {
	    font-family: Alfa Slab One;
    color: #343434;
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 1.1;
}