
$white: #ffffff;
$black: #000000;

$copy: #7f7f7f;
$copy-light: #c1c1c1;
$copy-dark: #343434;

$grey: #343434;
$grey-light: #f3f3f3;

$green: #95d600;
$green-light: #f4fbe5;


$ease-out: cubic-bezier(0.075, 0.82, 0.165, 1);;
$transition: all 300ms $ease-out;

$assets: '/wp-content/themes/getlopped/assets/';

$font-alpha: "Alfa Slab One";
$font-awesome: normal normal normal 14px/1 FontAwesome;