
.about__tabs {
	padding-top: 80px;
	margin-bottom: 50px;
}

.about__div {

	h1 {
		margin-bottom: 40px;
	}

	p {
		margin-bottom: 30px;
	}

}

.about__div--intro {
	max-width: 1020px;
	padding-bottom: 50px;
}

.about__div--process {

	padding-top: 0;
}

.about__div--grey {
	background-color: $grey-light;
	padding: 60px 0 100px;
}

.about__div--team {
	max-width: 900px;
	margin: 0 auto;
}

.about-us {
	div.wpcf7-response-output {
		width: 100%;
		float: none;
		padding: 0;
		margin: 40px auto;
		max-width: 470px;
	}
}

.about-us .wpcf7-form {
	max-width: 460px;
	margin: 0 auto 80px;
}

.promise__div {
    background: #f3f3f3;
    padding: 20px;
    height: 200px;
}