// posts index

.col-xs-12 {
	width: 100%;
    display: block;
    float: left;
}

.post-box {
    margin-bottom: 30px;
    background: #f1f1f1;
}

.post-box .left-column {
    width: 328px;
    height: 233px;
    background-position: center center;
    float: left;
    margin-bottom: 30px;
 }
 
.post-box .right-column {
    width: calc(100% - 388px);
    background: #f1f1f1;
    float: left;
    padding: 30px 25px 0;
}    

.post-box .right-column a.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}   

.buffer {
	margin: 20px 0px 31px 0px
}

.pagination {
    @extend %clearfix;
    margin: 20px auto 100px auto;
    width: 167px;
    
    p {
      font-size: rem(14px);
      float: left;
      padding: 0 10px;
      line-height: 38px;
      margin: 0;
    }

    a {
      font-size: 14px;
      text-decoration: none;
      float: left;
      line-height: 38px;
      padding: 0 10px 0 0;
    }

    input {
      float: left;
      height: 36px;
      line-height: 36px;
      width: 40px;
      min-width: 40px;
      padding: 0 5px;
      text-align: center;
      font-size: 14px;
      margin: 0;
      border: 1px solid $grey;
      background: #f8f8f8;
      border-left: 0;
      outline: none!important;
    }

    a.prev-btn {
      background: #F9F9F9;
      width: 36px;
      height: 36px;
      margin: 0;
      line-height: 36px;
      text-align: center;
      display: inline-block;
      font-size: 11px;
      border: 1px solid #8D8D8D;
      border-radius: 4px 0px 0px 4px;
      padding: 0;
      float: left;

      &.disable {
        color: $grey;
      }

      &:before {
		font: $font-awesome;
		content: "\f053";
		color: $green;
		line-height: 37px;
		font-size: 	12px;
		  }

      &:focus,
      &:active,
      &:hover {
        background: #f9f9f9;
      }
    }

    a.next-btn {
      background: #F9F9F9;
      width: 36px;
      height: 36px;
      margin: 0;
      line-height: 36px;
      text-align: center;
      display: inline-block;
      font-size: 11px;
      border: 1px solid #8D8D8D;
      border-radius: 0px 4px 4px 0px;
      padding: 0;
      float: left;

      &.disable {
        color: $grey;
      }

      &:after {
		font: $font-awesome;
		content: "\f054";
		color: $green;
		line-height: 37px;
		font-size: 	12px;
		  }

      &:focus,
      &:active,
      &:hover {
        background: #f9f9f9;
      }

    }
 }   

@media only screen and (max-width: 1024px) {
	.post-box .right-column {
        padding: 20px 20px 0 20px;
        width: 100%;
        margin-bottom: 30px;
      }

	.post-box .left-column {
    	height: 333px;
    	width: 100%;
    	margin-bottom: 0px;
    }
	.footer__h3  {
    	text-align: center;
    	 margin-right: 30px;
	
	}
	.post-box p {
	    text-align: center;
	    margin-right: 30px;
	}
}

// individual posts

.container-fluid {
	width: 100%;
}
.bg-image {
	height: 588px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	width: 800px;
    margin: auto!important;
}

.prev {
	float: left;
    margin-bottom: 50px;
}

.next {
	float: right;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
.bg-image {
	background-position: center center;
	}

.content ul:not(.styled__ul) li {
    position: relative;
    padding-left: 20px;

		&:before {
    	content: '•';
    	color: #95d600;
    	position: absolute;
    	left: 0px;
    	font-size: 22px;
		}
	}
}
@media only screen and (max-width: 768px) {
.bg-image {
 	height: 296px;
	}
.content {
	width: 87%
}

}
