
.service__section--banner {
	
	.container {
		min-height: 400px;
	}
}

.service__section {

	max-width: 1020px;

	h2  {
		color: $green;
		@include font-size(2.4);
	}

}

.service__h1 {
	@include font-size(2.8);
	margin-bottom: 10px;
}

.service__nav {
	// position: absolute;
	// top: 0;
	// right: 0;

	display: inline-block;
	background: rgba(255, 255, 255, 0.9);
	padding: 40px 40px 50px 30px;
	position: relative;
	left: 50%;
	margin-left: 370px;

	li {
		padding: 6px;
	}

	a {
		font-family: 'GothamBold';
		color: $green;
		text-decoration: none;
	}
}