
.banner {
	background-size: cover;
	background-position: bottom right;
	padding: 140px 0 60px;
	color: $white;
	box-sizing: border-box;
	-webkit-transform: translate3d(0,0,0);
}

.home .banner {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.1);
		z-index: 0;
	}
}

.banner--center {
	background-position: center;
}

.banner--height {
	min-height: 400px;
}

.banner--menu {
	padding: 0;
	position: relative;
}

.banner__h1,
.banner__h2,
.banner__ul {
	z-index: 1;
	position: relative;
}

.banner__h1 {
	font-family: $font-alpha;
	@include font-size(5);
	line-height: 60px;
	max-width: 600px;
	margin: 0 auto 30px;
	color: $white;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.banner__h2 {
	font-family: 'GothamBold';
	@include font-size(3);
}

.banner__ul {
	margin-top: 100px;
	background: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding: 20px 0;
}

.banner__li {
	display: inline-block;
	font-family: 'GothamBold';
	color: $copy-dark;
	text-align: center;
	width: 280px;
	//padding: 0 40px;
	line-height: 20px;
	vertical-align: middle;
	//padding-top: 60px;
	padding: 0;
	background-position: top center;
	background-repeat: no-repeat;

	&:first-child {
		border-right: 1px solid $white;
	}
}

.banner__li--quote {
	background-image: url($assets + 'images/icon-contact-dark.png');
	background-position: center 8px;
}

.banner__li--call {
	background-image: url($assets + 'images/icon-phone-dark.png');
}

.banner__a {
	color: $copy-dark;
	text-decoration: none;
	display: inline-block;
	padding: 60px 0 10px;
}