.button {
	position: relative;
	@include inline-block();
	box-sizing: border-box;
	width: auto;
	max-width: 350px;
	border-radius: 25px;
	border: none;
	margin: 0;
	padding: 0 60px 0 20px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: none;
	background-color: $white;
	color: $green;
	text-decoration: none;
	line-height: 50px;
	border: 2px solid $green;
	
	@include font-size(2);
	line-height: 50px;
	font-family: 'GothamBold';
	font-weight: normal;
	text-align: center;
	user-select: auto;
	cursor: pointer;

	&:after {
		font: $font-awesome;
		content: "\f054";
		position: absolute;
		right: 20px;
		top: 0;
		color: $green;
		line-height: 54px;
		@include font-size(2.4);
	}

	&:hover {
		background: $green;
		color: $white;

		&:after {
			color: $white;
		}
	}

}
.button-prev {
	position: relative;
	@include inline-block();
	box-sizing: border-box;
	width: auto;
	max-width: 350px;
	border-radius: 25px;
	border: none;
	margin: 0;
	padding: 0 20px 0 60px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: none;
	background-color: $white;
	color: $green;
	text-decoration: none;
	line-height: 50px;
	border: 2px solid $green;
	
	@include font-size(2);
	line-height: 50px;
	font-family: 'GothamBold';
	font-weight: normal;
	text-align: center;
	user-select: auto;
	cursor: pointer;

	&:before {
		font: $font-awesome;
		content: "\f053";
		position: absolute;
		left: 20px;
		top: 0;
		color: $green;
		line-height: 54px;
		@include font-size(2.4);
	}

	&:hover {
		background: $green;
		color: $white;

		&:before {
			color: $white;
		}
	}

}
.button--circle {
	font: $font-awesome;
	content: "\f054";
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid $green;
	color: $green;
	line-height: 52px;
	//text-align: center;
	text-align: left;
	text-indent: 18px;
	@include font-size(2.4);
}