
.carousel {
	position: relative;
}

.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;

	.item {
		display: none;
		position: relative;
		transition: all 800ms ease-out;
		display: none;
		margin: 0 auto;

		p {
			max-width: 820px;
			margin: 0 auto 20px;
		}

		ul {
			clear: both;
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			max-width: 820px;
			margin: 50px auto 0;
		}

		h2 {
			@include font-size(2.4);
			margin-bottom: 40px;
		}

		li {
			width: 45%;
			border-bottom: 1px solid $copy;
			padding: 14px 0;
			color: $green;
			font-family: 'GothamBold';

			&:nth-child(1),
			&:nth-child(2) {
				border-top: 1px solid $copy;
			}
		}

		li:nth-child(odd){
			margin-right: 5%;
			text-align: right;
		}

		li:nth-child(even){
			margin-left: 5%;
			text-align: left;
		}


		&.active {
			display: block;
		}

		&.next,
		&.active.right {
			transform: translate3d(100%, 0, 0);
			left: 0;
		}
		&.prev,
		&.active.left {
			transform: translate3d(-100%, 0, 0);
			left: 0;
		}
		&.next.left,
		&.prev.right,
		&.active {
			transform: translate3d(0, 0, 0);
			left: 0;
		}
	}


	.active,
	.next,
	.prev {
		display: block;
	}

	.active {
		left: 0;
	}

	.next,
	.prev {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.next {
		left: 100%;
	}
	.prev {
		left: -100%;
	}
	.next.left,
	.prev.right {
		left: 0;
	}

	.active.left {
		left: -100%;
	}
	.active.right {
		left: 100%;
	}

}

.carousel-control {
	font-size: 0;
	position: absolute;
	top: 70px;

	&.left {
		left: 0px;

		&:before {
			content: "\f053";
			text-indent: 14px;
		}
	}

	&.right {
		right: 54px;
	}

	&:before {
		@extend .button--circle;
	}

	&:hover {
		&:before {
			background: $green;
			color: $white;
		}
	}
	
}

