
.footer {
	background-color: $grey;
	color: $white;
}

.footer__div--menu {
	justify-content: center;
	padding: 50px 0 80px;
}

.footer__div {
	min-width: 200px;
	margin: 0 60px;
}

.footer__h3 {
	color: $green;
	@include font-size(2.2);
	padding-bottom: 10px;
}

.footer__a {
	color: #c1c1c1;
	text-decoration: none;
	&:hover {
    color: $white;
    }
}

.footer__div--copyright {
	background-color: #2d2d2d;
	color: #8b8b8b;
	@include font-size(1.3);
	padding: 15px 0;
}
.footer-credit__redfox {
    a {
      position: relative;
      color: #8B8B8D;
      svg {
        position: absolute;
        right: -25px;
        top: 0px;
        #Dark-Version {
          transition: fill 300ms linear 0ms;
        }
      }
      &:hover svg #Dark-Version {
        fill: #B3272D;
      }
    }
  }