

div.wpcf7 {
	margin-top: 40px;
	max-width: 480px;
	margin: 40px auto;
	text-align: left;
	background: #dadada;
    padding: 30px;
}

.wpcf7 .clearfix {
	clear: both;
	overflow: hidden;
}

.form-left,
.form-right {
	width: calc(50% - 120px);
	text-align: left;
}

.form-right {
	float: left;
	margin: 0 40px 0 80px;

	span.wpcf7-list-item {
		display: block;
		margin-left: 0px;
		float: left;
		width: 50%;
		margin-bottom: 10px;
	}
}

.form-left {
	float: right;
	margin: 0 80px 0 40px;
}

input[type="text"],
input[type="email"], 
input[type="tel"],
textarea {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	max-width: 460px;
	border-radius: 0px;
	border: 1px solid $copy-light;
	margin: 0 0 12px 0;
	padding: 18px 20px 14px 20px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: none;
	background-color: $white;
	
	@include font-size(1.8);
	font-family: 'GothamLight';
	font-weight: normal;
	color: $copy;
	text-align: left;
	user-select: auto;
	cursor: pointer;

	&.wpcf7-not-valid {
		//color: #EA5B24;
		border-color: #EA5B24;
	}

}

input[type="submit"]{
	@extend .button;
	width: 200px;
	text-align: left;
	background-color: $grey-light;
}

.about-us { 
	
	input[type="submit"]{
		background-color: $white;
		margin-top: 40px;

		&:hover {
			background-color: $green;
		}
	}

	.submit:after {
		margin-top: -4px;
	}
}

.submit {
	display: inline-block;
	position: relative;
	
	&:after {
		font: $font-awesome;
		content: "\f054";
		position: absolute;
		right: 36px;
		top: 50%;
		margin-top: -23px;
		color: $green;
		line-height: 50px;
		@include font-size(2.4);
	}

	&:hover {
		&:after {
			color: $white;
		}
	}

}

input[type="checkbox"]{
	margin-right: 14px;
}


div.wpcf7-response-output {
	color: $green;
	width: 100%;
	float: right;
	text-align: left;
	font-family: 'Gotham';
	margin: 0;
	box-sizing: border-box;
	line-height: 130%;
	font-size: 14px;
}

div.wpcf7-validation-errors {
	border: none;
	color: #EA5B24;
}

.wpcf7-not-valid-tip {
	display: none !important;
}

.sw-file {
	position: relative;

	.wpcf7-form-control-wrap.file {
		position: absolute;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.file-upload {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
		user-select: auto;
	}
}
