
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	background-color: $grey;
	text-align: right;
	z-index: 30;
	//transform: translatez(0);
	transition: all 400ms ease-out;
	transform: translate3d(0, -40px, 0);

	.container {
		overflow: visible;
		height: 148px;
		//transition: height 300ms ease-out;
	}

}

.ready .header {
	transform: translate3d(0, 0, 0);
}

.header--small {

	.header__img {
		display: none;
	}

	.header__a {
		width: 198px;
		height: 32px;
		background-image: url($assets + 'images/logo-s.png');
	}

	.header__nav a {
		//padding: 17px 30px 12px;
	}

	.header__nav {
		position: relative;
	}

	.container {
		height: 61px;
	}

	.header__nav a {
		padding: 17px 30px 12px;
	}


}

.header__a {
	text-decoration: none;
	float: left;
	display: inline-block;
	margin: 14px 0 0;
}

.header__nav {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;

	.menu-item {
		display: block;
		float: left;

	}

	a {
		display: block;
		color: $copy-light;
		line-height: 32px;
		padding: 17px 30px 42px;
		text-decoration: none;
		position: relative;
		font-family: 'GothamBold';

		


	}

}


.sub-menu {
	display: none;
	position: absolute;
}

.phone-mobile {
	display: none;
	position: absolute;
}

.header__menu-toggle {
	display: none;
	color: $copy-light;
	@include font-size(3.4);
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);

	&.header__menu-toggle--active {
		color: $green;
	}
}
