
.leaf-list__ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.leaf-list__ul--contact {
	margin-top: 60px;
}

.leaf-list__li {
	display: block;
	position: relative;
	width: calc(50% - 120px);
	box-sizing: border-box;
	border-bottom: 1px solid $copy;
	padding: 20px 0;

	&:nth-child(1), &:nth-child(2){
		border-top: 1px solid $copy;
	}

	&:hover {
		background-color: $green-light;

		.leaf-list__a:after {
			color: $white;
			background-color: $green;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		width: 28px;
		height: 48px;
		margin-top: -24px;
		background-image: url( $assets + 'images/leaf.png');
		background-repeat: no-repeat; 
	}
	
}

.leaf-list__li--left {
	float: left;
	margin: 0 40px 0 80px;

	&:before {
		left: -58px;
	}
}

.leaf-list__li--right {
	float: right;
	margin: 0 80px 0 40px;

	&:before {
		right: -58px;
	}
}

.leaf-list__a {
	display: block;
	position: relative;
	padding: 0 90px 0 20px;
	text-decoration: none;
	color: $copy;

	&:after {
		@extend .button--circle;
		right: 20px;
		top: 50%;
		margin-top: -25px;
	}
}

.leaf-list__h3 {
	color: $green;
	@include font-size(2);
	line-height: 30px;
	margin-bottom: 6px;
}

.leaf-list__p {
	@include font-size(1.4);
	line-height: 24px;
}

