
.process {
	margin-bottom: 80px;
}

.process__div {
	padding: 80px 0 60px;
	max-width: 720px;

	h1 {
		margin-bottom: 40px;
	}
}

.process__li {
	position: relative;
	
	&:after {
		font: $font-awesome;
		content: "\f054";
		position: absolute;
		color: $green;
		top: 35px;
		right: -10px;
		@include font-size(2.4);
	}

	&:last-child:after {
		display: none;
	}
}

.process__img {
	max-width: 85px; 
	height: auto;
}

