.quotations {
	margin-bottom: 80px;

	h1 {
		margin-bottom: 4px;
	}

	h2 {
		@include font-size(2);
		line-height: 30px;
		margin-bottom: 14px;
	}

	h2:not(.quotations__h2){
		color: $green;
	}
}

.quotations__a {
	color: $green;
	text-decoration: none;
}

.quotations__div {
	box-sizing: border-box;
}

.quotations__div--left {
	flex: 9;
	padding-right: 120px;
	border-right: 1px solid $copy-light;

	p {
		margin-bottom: 60px;
	}
}

.quotations__div--right {
	flex: 3;
	padding-left: 80px;
}

.quotations__img {
	max-width: 100%;
	height: auto;
	display: block;
}

.contact .quotations {
	padding-top: 80px;
}