
.services {
	padding: 100px 0 0;
}

.services__div {
	background: $grey-light;
	margin-top: 80px;
}

.services__li {
	padding: 40px 20px 120px;
	@include font-size(1.4);
	line-height: 22px;
	position: relative;

	&:hover {
		background-color: $green-light;

		.services__a:after {
			color: $white;
			background-color: $green;
		}
	}

	&:after, &:before {
		content: '';
		position: absolute;
		right: 0px;
		top: 140px;
		width: 1px;
		height: 170px;
		background: $copy-light; 
	}

	&:before {
		display: none;
	}

	&:first-child:before {
		display: block;
		left: 0px;
	}

}

.services__a {
	//position: absolute;
	color: $copy;
	top: 0;
	left: 0;
	text-decoration: none;
	display: block;

	&:after {
		@extend .button--circle;
		bottom: 40px;
		left: 50%;
		margin-left: -25px;
	}
}

.services__img {
	max-width: 85px; 
	height: auto;
}

.services__h3 {
	color: $green;
	@include font-size(1.8);
	margin: 10px 0 10px 0;
}

.services__div--background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 500px;
	-webkit-transform: translate3d(0,0,0);
}