

.side-menu {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	z-index: 20;
	opacity: 0;
	transition: opacity 300ms ease-out;
	transition-delay: 600ms;
}

.ready .side-menu {
	opacity: 1;
}

.side-menu__a {
	display: block;
	width: 60px;
	height: 70px;
	background-color: $green;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 10;
}

.side-menu__a--contact {
	background-image: url($assets + 'images/icon-contact-white.png');
	background-size: 30px auto;
	&:before {
		content: '';
		position: absolute;
		bottom: 0px;
		left: 20%;
		width: 60%;
		height: 1px;
		background: $white;
	}
}

.side-menu__a--call {
	background-image: url($assets + 'images/icon-phone-white.png');
	background-size: 26px auto;
}

.side-menu__li--call:hover {

	.side-menu__span {
		transform: translate3d(0, 0, 0);
	}
	
}

.side-menu__span {
	position: absolute;
	line-height: 70px;
	width: 220px;
	right: 60px;
	bottom: 0px;
	background: white;
	text-align: center;
	z-index: 0;
	transform: translate3d(220px, 0, 0);
	transition: 300ms transform ease-out;
}

.side-menu__a--text {
	color: $green;
	text-decoration: none;

}