
.staff {
	margin-top: 80px;
}


.staff__ul {
	flex-wrap: wrap;
	margin-top: 20px;
}

.staff__li {
	min-width: 33%;
	max-width: 33%;
	box-sizing: border-box;
	clear: both;
	overflow: hidden;
	margin-bottom: 30px;
}

.staff__img {
	max-width: 100%;
	height: auto;
}

.staff__div {
	min-width: 0;
	padding: 0 30px 0 20px;
	@include font-size(1.4);
	line-height: 22px;
}

.staff__div--img {
	min-width: 195px;
	padding: 0;
}

.staff__h2 {
	margin-bottom: 30px;
}