
.tabs__ul {
	text-align: center;
}

.tabs__li {
	display: inline-block;
	cursor: pointer;

	&.active .tabs__a {
		color: $white;
		background-color: $green;
		border-color: $green;
	}

	&:not(.active) .tabs__a:hover {
		color: $green;
		border-color: $green;
	}
}

.tabs__a {
	font-family: 'GothamBold';
	color: $copy-dark;
	@include font-size(2.4);
	line-height: 80px;
	text-decoration: none;
	display: inline-block;
	min-width: 160px;
	border-bottom: 5px solid $copy-light;
	margin: 0 40px 80px;
}

.tabs__div {
	display: none;

	&.active {
		display: block;
	}
}

.tabs__content {
	display: block;
	float: left;
	width: calc(50% - 120px);
	position: relative;
}

.tabs__div--who-we-are {
	&.active {
		display: flex;
	}
}

.tabs__content--left {
	margin-left: 120px;
}

.tabs__content--right {
	margin-left: 40px;
}

.tabs__img {
	width: 100%;
	height: auto;
	display: block;
}

.tabs__a--content {
	position: absolute;
	bottom: 0px;
}