.zebra {
	margin: 40px auto 50px;
}

.zebra__li {

	text-align: left;
	box-sizing: border-box;
	padding: 40px 40px 20px;

	&:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(8){
		background: $copy-dark;
		color: $white;
	}

}

.zebra__h2 {
	margin-bottom: 10px;
}